// Header
.header {
  margin-bottom: 24px;

  .title {
    font-size: 48px;
    color: #131C43;
    margin-bottom: 12px;
  }

  .todo-counter {
    font-size: 32px;
    color: #A3AABC;
    font-weight: 700;

  }
}
